{% extends 'base.html.twig' %}

{% block title %} Création d'un bien {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1 class="text-center">Créer un nouveau bien</h1>
        {{ include('biens/_form.html.twig') }}
    </div>

{% endblock %}


